*{
  box-sizing: border-box;
}

html,
body{
  background-color: white;
  overflow: hidden;
}

#controls{
  height: 30px;
}

#container{
  margin-top: 30px;
/*
  width: 100%;
  height: calc(100vh - 30px);
*/
  width: 1000px;
  height: 500px;
  overflow: auto;
}

#score{
  white-space: nowrap;
  position: relative;
  width: 100%;
}

#horizontal{
  width: 100%;
}

#vertical{
  top: 0;
  position: absolute;
  z-index: 10;
}

.column{
  width: 20px;
  border-right: 1px solid red;
  color: red;
  display: inline-block;
  height: 100%;
  overflow: hidden;
}

.row{
  height: 120px;
  border-bottom: 1px solid blue;
  color: blue;
  width: 100%;
}

/*clear fix*/
.cf:before,
.cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}

